/* HEADER
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.header{
/*
define a cor tal como o tamanho da fonte do site, nesse caso azul escuro
*/
    border-top: 6px solid  #2c3e50;
}

/*nav-toogle*/
#nav-toogle{
    /* 
    esse trecho do código cria o botão de menu quando 
    está em ambiente mobile ou phablet
    */
        border-bottom-left-radius: 8px;
        -webkit-border-bottom-left-redius: 8px;
        position: fixed;
        z-index: 15;
        display: none;
        background: #2c3e50;
        padding: 15px;
        top: 0;
        right: 0;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }
    #nav-toogle span{
    /*
    esse trecho cria os tres risquinhos do botão de 
    menu quando está em ambiente mobile
    */
        border-radius: 1px;
        height: 2px;
        width: 30px;
        display: block;
        background: #ffffff;
        -webkit-border-redius: 1px;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        transform: translate(0,0,0);
        -webkit-transform: translate(0,0,0);
    }
    #nav-toogle span:nth-child(2){
        /*
    esse trecho define a distância de um risquinho branco do menu a outro
        */
        margin: 6px 0;
    }
    #nav-toogle.active span:nth-child(1){
        transform: rotate(45deg) translate3d(6px,6px,0);
        -webkit-transform: rotate(45deg) translate3d(6px,6px,0);
    }
    #nav-toogle.active span:nth-child(2){
        opacity: 0;
    }
    #nav-toogle.active span:nth-child(3){
        transform: rotate(-45deg) translate3d(6px,-5px,0);
        -webkit-transform: rotate(-45deg) translate3d(6px,-5px,0);
    }
    

/*header (),cabeçalho*/
.header-logo{
    width: 180px;
    padding: 22px 0;
    float: left;
}
/*header menu desktop*/
.header-nav{
    padding: 25px 0;
}
.header-nav ul li{
    /* faz com que as palavras do menu desktop fiquem uma do lado da outra*/
    display: inline-block;
    margin: 0 3px; /*faz com que cada palavra do menu fique afastada uma da outra, ex: home  equipe  serviços  etc*/
    position: relative;/*cria uma barrinha laranja que acompanha o mouse quando passa nas letras do menu destop*/

}
.header-nav ul li a{
    /* faz com que as letras do menu fiquem azul escuro e grossas*/
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
}
.header-nav ul li a:hover{
    color: #f47993;
}
.header-nav ul li a.active{ /* faz o efeito laranjado nas letras do menu*/
    color: #f47993;
}

/* BOTÃO SEARCH OU DE PESQUISA*/
.header-search{
    position: relative;
    float: right;
    margin: -55px 0;
}

/* open write white
faz com que o nome "PESQUISAR" fique branquinho em todos os navegadores*/
.header-search input::-webkit-input-placeholder{ /*Chrome, opera e safari*/
    color: #ffffff;
}
.header-search input:-moz-placeholder{/*mozilla, firefox 4 to 18*/
    color: #ffffff;
    opacity: 1;
}
.header-search input::-moz-placeholder{/*firefox 19+*/
    color: #ffffff;
    opacity: 1;

}
.header-search input:-ms-input-placeholder{/* IE 10+*/
    color: #ffffff;

}
.header-search input::-ms-input-placeholder{/*Microsoft edge*/
    color: #ffffff;

}
.header-search input::placeholder{/*Browsers modernos*/
    color: #ffffff;

}
/* close write white*/

.header-search input{
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    background: #01c0b5;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.header-search button{
    position: absolute;
    top: 50%;
    right: 4px;
    color: #ffffff;
    font-size: 1.5rem;
    background: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.header-redes{
    text-align: center;
    margin: 20px 0;
    display: none;
}
.header-redes a{
    color: #ffffff;
    font-size: 2rem;
    margin: 0 10px;
}
/* BOTÕES HOME, AGENCIA ETC...
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ 
esse trecho do código faz com que se o site for aberto em um ambiente menor do que 960 px
um dispositivo móvel por exemplo, apareca um botão de menu com 3 risquinhos, e caso seja aberto 
em um ambiente desktop esse botão de menu desapareça
*/
@media (max-width: 959.9px){
    #nav-toogle, .header-redes{
        display: block;
    }

    /*header (cabeçalho)*/
    .header{
        height: 58px;
    }
    /*header logo*/
    .header-logo{
        
        width: 60%;
        padding: 12px 0;
    }
    /* menu */
/*
esse trecho faz com que seja criado um fundo no 
menu mobile com uma cor transparente
*/
    .header-collapse{
        overflow: auto;
        position: fixed;
        background: rgba(45,63,81,.95); /* essa linha do código faz com que o menu mobile fique com o fundo azul transparente*/
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 15px;
        top: -100%; /* essa linha 83 e 84 permitem que o cabeçalho do site fique por baixo do menu quando for acionado */
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease; /* essa linha do código faz com que quando apertado o botão do menu mobile tenha um efeito giratório 3d, uma aniumação*/
    }

    .header-collapse.active{
        top: 0%;

    }
    .header-nav{
        padding: 25px 0;
        float: none;
    }
    .header-nav ul li{
        /* faz com que as letras do menu centralizem*/
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .header-nav ul li a{
        /* faz com que as letras do menu fiquem brancas e grossas*/
        color: #ffffff;
        font-size: 1.375rem;
    }
    /* aqui define ao espaço de pesquisa search um limite
    se a tela for maior do que 300px ele continuará centralizado
    se não ele diminuirá de tamanho sem
    */
    .header-search{
        max-width: 300px;
        margin: 0 auto;
        float: none;
    }
    .header-search input{        
        padding: 15px;
    }
}
/*MIN-WIDTH
nesse ponto trabalharemos com o mínimo de 960px, ou seja, somente para desktop
tendo em vista que o menu mobile tem menos de 960px
*/
@media (min-width: 960px){
    /*config para header (cabeçalho) em 960 px*/
    .header-nav{
        margin-left: 2px;
    }
    /*
    cria efeito na barrinha do topo, quando passa o mouse em cima
    das letras home, serviço etc... aparece uma barrinha laranja para acompanhar
    */
    .header-nav ul li a.active::before{
        background: #f47993;
        content: "";
        position: absolute;
        height: 8px;
        width: 100%;
        top: -33px;
        left: 0;
    }
}
@media (min-width: 1024px){
    /*config para header (cabeçalho) em 1024 px*/
    .header-nav ul li{
        margin: 0 7px;
    }
}
@media (min-width: 1140px){
    /*config para header (cabeçalho) em 1140 px*/
    .header-logo{
        width: auto;
    }
    .header-nav ul li a{
        font-size: 1rem;
    }
}
@media (min-width: 1280px){
    /*config para header (cabeçalho) em 1280 px*/
    .header-nav ul li{
        margin: 0 10px;
    }
    .header-search{
        width: 300px;
    }
}